/*BODY*/

* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/*HEADER*/

.header {
    margin-left: 5%;
    width: 92%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.booki {
    height: 100%;
    padding-top: 60px;
}

.booki img {
    width: 30%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 25%;
}



div .barrebleuhebergements, div .barrebleuactivites {
    text-align: center;
    height: 50%;
    width: 50%;
    padding-top: 45px;
}

div .barrebleuhebergements:hover, div .barrebleuactivites:hover {
    text-align: center;
    height: 50%;
    width: 50%;
    padding-top: 45px;
    border-top: solid 3px #0065FC;
}

.barrebleuhebergements:hover a, .barrebleuactivites:hover a {
    color: #0065FC;

}

.barrebleuactivites a, .barrebleuhebergements a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}



/*SECTION 1*/

.title {
    margin-left: 4%;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 19px;
    margin-top: 15px;
}

.title h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 14px;
    margin-top: 15px;
}

.citysearch {
    display: flex;
    width: 375px;
    height: 45px;
    margin-left: 4%;
    margin-top: 20px;
}

.location {
    width: 45px;
    height: 45px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.citysearch form {
    width: 200px;
    height: 45px;
}

.citysearch input {
    width: 200px;
    height: 41px;
    border: solid 1px #F2F2F2;
    border-left: none;
    border-right: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 15px;
    outline:  none;
   
}

#ville {
    padding-left: 7%;
    color: #000;
}


.recherche {
    display: flex;
    width: 130px;
}

.citysearch button {
    width: 95%;
    border: none;
    border-radius: 0px 12px 12px 0px;
    background-color: #0065FC;
    color: #FFF;
    font-size: 16px;
}


.recherche i.fa-solid {
    display: none;
}

.filter {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 20px;
}

.filter p {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 15px;
}

.filterbutton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 30px;
    border: solid 2px #f2f2f2;
    border-left: none;
    padding: 0px;
    height: 40px;
}

.filterbutton p {
    margin-right: 10%;
}

.filterbutton:focus {
    background-color: #0065FC;
    border: solid 2px #0065FC;
    border-left: none;
    color: #FFF;
}

.filterbutton:hover {
    background-color: #0065FC;
    border: solid 2px #0065FC;
    border-left: none;
    color: #FFF;
}

.bordericon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 120%;
    color: #0065FC;
}

.economique {
    width: 155px;
}

.familial {
    width: 120px;
}

.romantique {
    width: 150px;
}

.animaux {
    width: 200px;
}

.info {
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 4%;
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 14px;

}

.info span {
    color: #0065FC;
    width: 2%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: solid 2px #f2f2f2;
}

.info p {
    margin-left: 1%;
}

/* SECTION 2 */



.allhebergements {
    display: flex;
    margin-left: 4%;
    margin-top: 10px
}

.hebergements {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: 500px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 20px;
}

.flexboxhebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 75%;
}

.hebergements h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 30px 0px 20px 4%;
}

.carte {
    width: 28%;
    height: 155px;
    background-color: #FFF;
    border-radius: 20px;
    border: solid 5px #FFF;
}

.photosresultats {
    height: 60%;
    width: 100%;
}

.carte img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40%;
    margin-left: 4%;
}

.information h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 14px;
    margin: 5px 0px 5px 0px;
}

.information p {
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 12px;
    margin: 0px 0px 5px 0px;
}

.stars {
    display: flex;
    width: 3%;
}

.hostingMainCardGradeIcon {
    color: #0065FC;
    font-size: 60%;
}

.hostingMainCardGradeIcon.vide {
    color: #f2f2f2;
}

#afficherplus {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 14px;
    margin: 0px 0px 0px 4%;
}

.populaires {
    width: 30%;
    height: 500px;
    margin: 20px 0px 0px 3%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.populaires h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 20px;
    margin-left: 10%;
    white-space: nowrap;
}

.titlestarpopulaire {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.fas.fa-star.hostingMainCardGradeIcon.noire {
    color: black;
    top: 0px;
    font-size: 120%;
    margin: 0px 0px 0px 24%;
}

.ensemblecartespopulaires {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
}

.cartepopulaire {
    background-color: #fff;
    border: solid 5px #fff;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    height: 120px;
    width: 85%;
    margin-left: 7.5%;
}

.cartepopulaire a {
    display: flex;
    flex-direction: row;
}

.photospopulaires {
    width: 40%;
}

.cartepopulaire img {
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    width: 100%;
    height: 110px;
}

.infopopulaire {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.cartepopulaire h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}

.cartepopulaire p {
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    margin-top: 5px;
    font-size: 12px;
}


.starspopulaire {
    display: flex;
    width: 3%;
    margin-top: 35px;
}

#titreactivités {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 4%;
}

.activités {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 20px 0px 0px 4%;
}

.activités img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activités h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 14px;
    margin-left: 6%;
    margin-top: 15px;
}

.flexboxgauche {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexboxdroite {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vieuxport {
    height: 400px;
    width: 46%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
}

.photoport {
    height: 88%;
    width: 100%;
}


.fortetiles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 45%;
    margin-right: 3%;
}

.fortdepomègues {
    height: 50%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
}

.photofort {
    width: 100%;
    height: 75%;
}

.photofort img {
    object-position: 0px -95px;
}

.îlesdufrioul {
    height: 40%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
}

.photoîles {
    width: 100%;
    height: 70%;
}

.photoîles img {
    object-position: 0px 0px;
}

.calanques {
    height: 400px;
    width: 45%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
    margin-left: 3%;
}

.photocalanques {
    height: 88%;
    width: 100%;
}

.notredamelongchamp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 45%;
}

.notredame {
    height: 45%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
}

.photonotredame {
    width: 100%;
    height: 75%;
}

.photonotredame img {
    object-position: 0px 0px;
}

.longchamp {
    height: 45%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 2px 5px #F2F2F2;
}

.photolongchamp {
    width: 100%;
    height: 73%;
}

.photolongchamp img {
    object-position: 0px -10px;
}

.footer {
    display: flex;
    background-color: #f2f2f2;
    height: 150px;
    width: 100%;
    margin-top: 60px;
}

.footer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.footer p {
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.apropos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.noshebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 19%;
}

.assistance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}

@media screen and (max-width:992px) {

    .allhebergements {
        flex-direction: column-reverse;
    }

    .populaires {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 0%;
        width: 95%;
        height: 280px;
    }

    .titlestarpopulaire {
        width: 100%;
    }

    .titlestarpopulaire h1 {
        margin-left: 4%;
    }

    .fas.fa-star.hostingMainCardGradeIcon.noire {
        margin-left: 70%;
    }

    .cartepopulaire {
        width: 30%;
        height: 185px;
        margin-left: 0;
    }

    .cartepopulaire a {
        flex-direction: column;
    }

    .cartepopulaire img {
        border-radius: 20px 20px 0px 0px;
        width: 250%;
        height: 93px;
    }

    .starspopulaire {
        margin-top: 8px;
    }

    .ensemblecartespopulaires {
        flex-direction: row;
        height: 80%;
        margin-top: 20px;
    }

    .hebergements {
        width: 95%;
    }

    .activités {
        flex-direction: column;
        height: 435px;
    }

    .activités img {
        height: 150px;
    }

    .flexboxgauche {
        width: 99%;
        height: 200px;
        justify-content: space-between;
    }

    .vieuxport {
        width: 31%;
        height: 100%;
    }

    .photoport {
        height: 150px;
    }

    .fortetiles {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
        width: 65%;
    }

    .fortdepomègues {
        width: 47%;
        height: 50%;
    }

    .îlesdufrioul {
        width: 47%;
        height: 50%;
    }

    .îlesdufrioul h2 {
        margin-top: 10%;
    }

    

    .flexboxdroite {
        width: 99%;
        height: 200px;
        justify-content: space-between;
    }

    .calanques {
        width: 31%;
        height: 100%;
        margin-left: 0;
    }

    .photocalanques {
        height: 150px;
    }

    .notredamelongchamp {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
        width: 65%;
    
    }

    .notredame {
        width: 47%;
        height: 50%;
    }

    .longchamp {
        width: 47%;
        height: 50%;
    }

    .longchamp h2 {
        margin-top: 6%;
    }

}

@media screen and (max-width:768px) {

.header {
    width: 100%;
    flex-direction: column;
    margin-left: 0;
}

.booki {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.booki img {
    width: 40%;
}

nav {
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.barrebleuhebergements a, .barrebleuactivites a {
    font-size: 20px;
    margin-left: 5%;
}

.allhebergements {
    margin-left: 0;
}

.title {
    margin-top: 70px;
    margin-left: 5%;
    width: 85%;
}

.title h1 {
    font-size: 23px;
}

.title h2 {
    font-size: 17px;
}

.citysearch {
    margin-top: 40px;
    width: 345px;
}

.location {
    width: 80px;
    height: 50px;
}

.fa-location-dot {
    font-size: 20px;
}

.citysearch input {
    height: 46px;
    width: 250px;
}

.citysearch button {
    height: 50px;
    width: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 40px;
}

.recherche i.fa-solid {
    display: block;
}

.recherche span {
    display: none;
}

.filter {
    flex-wrap: wrap;
    width: 330px;
    margin-top: 30px;
}

.filterstext p {
    margin-right: 150px;
    margin-bottom: 10px;
}

.bordericon {
    width: 50px;
    height: 50px;
    font-size: 140%;
}

.filterbutton {
    height: 50px;
    margin-bottom: 12px;
}

.filterbutton p {
    font-size: 16px;
}

.economique {
    width: 180px;
}

.familial {
    width: 140px;
}

.romantique {
    width: 170px;
}

.animaux {
    width: 220px;
}

.info {
    margin-left: 20px;
}

.info span {
    width: 25px;
    height: 25px;
}

.info p {
    width: 90%;
    font-size: 16px;
    margin-left: 10px;
}

.populaires {
    width: 100%;
    height: 520px;
    margin-left: 0;
    border-radius: 0px;
}


.titlestarpopulaire {
    width: 50%;
    margin-left: 4%;
}

.titlestarpopulaire h1 {
    font-size: 22px;
}

.ensemblecartespopulaires {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4%;
}

.cartepopulaire {
    width: 95%;
    height: 130px;
}

.cartepopulaire a {
    flex-direction: row;
}

.cartepopulaire img {
    width: 100%;
    height: 120px;
    border-radius: 15px 0px 0px 15px;
}

.infopopulaire {
    margin-left: 7%;
}

.cartepopulaire h2 {
    font-size: 16px;
}

.cartepopulaire p{
    font-size: 14px;
}

.starspopulaire {
    margin-top: 35px;
    font-size: 20px;
}


.flexboxhebergements {
    height: 1350px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 1500px;
    border-radius: 0;
    background-color: #FFF;
}

.hebergements h1 {
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 21px;
}

.carte {
    width: 88%;
    height: 200px;
    margin-left: 4%;
    box-shadow: 1px 1px 10px #F2F2F2;
}

.carte a {
    height: 130px;
}
.photosresultats {
    width: 100%;
}

.carte img {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.information h2 {
    font-size: 16px;
}

.information p {
    font-size: 14.5px;
}

.stars {
    margin-top: 8px;
    font-size: 20px;
}

#afficherplus {
    margin-top: 30px;
    margin-left: 5%;
    font-size: 17px;
}

#titreactivités {
    margin-left: 5%;
    font-size: 21px;
}

.activités {
    height: 1440px;
    
}

.flexboxgauche {
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
}

.vieuxport {
    height: 210px;
    width: 100%;
}

.fortetiles {
    width: 100%;
    height: 450px;
    flex-direction: column;
}

.fortdepomègues {
    height: 210px;
    width: 100%;
}

.îlesdufrioul {
    height: 210px;
    width: 100%;
}

.flexboxdroite {
    height: 700px;
    flex-direction: column;
}

.calanques {
    height: 210px;
    width: 100%;
}

.notredamelongchamp {
    width: 100%;
    height: 450px;
    flex-direction: column;
}

.notredame {
    height: 210px;
    width: 100%;
}

.longchamp {
    height: 210px;
    width: 100%;
}

}